@charset "utf-8";
@font-face{
    font-family: Folio Lt Bt;
    src: url(../css/Font-Folio/folio-lt-bt-light.ttf)
}

@font-face{
    font-family: Folio Bk Bt;
    src: url(../css/Font-Folio/folio-bk-bt-book.ttf)
}

body {background-color: #333333;}
/* HEADER SITE */
.redes_sociais{
    height: 30px;
    background-color: #54c5d0;
}
.redes_sociais a{
    color: black;
    border-radius: 5px;
}
.redes_sociais .row{
    padding-bottom: 5px;
    margin:0px;
}

.redes_sociais .paises .col-2{
    padding-bottom: 10px;
    margin:0px;
}
.logo{
    position: absolute;
    z-index: 9999;
    padding-top: 110px;
    text-align: right;
}

nav{ 
    color: #fff;
    font-family: Folio Bk Bt;
    background-color: #333333;
}

nav li a:hover {
    transition: 1s;
    color: #4ca8b1!important;
}
/* DROPDOWN MENU */
.dropdown-menu {
    background-color: #333333;
    color: #fff!important;
}

.dropdown-menu .show{   
    padding: 0;
    margin-top: 0; 
}
.dropdown-menu a{  
    margin-top: 0;
    border-right:  1px solid #1f1a17;
    border-left: 1px solid #454545;
    border-top:  1px solid #1f1a17;
    border-bottom:  1px solid #454545;
    color: #fff!important;
}

.dropdown-menu a:hover{background-color: #333333;}

.border_meio{
    border-right:  1px solid #1f1a17;
    border-left: 1px solid #454545;
    color: #fff;
    font-family: Folio Bk Bt;
    background-color: #333333;
}
.border_fim{border-left: 1px solid #454545;}
.border_inicio{border-right:  1px solid #1f1a17;}

nav ul{color: #fff;}
.carousel-item {
    background-color: #54c5d0;
    height: 650px;
    width: 100%;
    -moz-border-radius: 0em 0em 4em 4em;
    border-radius: 0em 0em 4em 4em;
    z-index: 3;
}

.rodape {
    opacity: 100%;
    position: absolute;
    z-index: 9999;
    bottom: 10px;
    right:450px;
}

.linha_footer{
    margin-top: 60px;
    border-top: 1px solid #1f1a17;
    border-bottom: 1px solid #454545;
}
.contato{
    font-family: Folio Lt Bt;
    font-size: 14px;
    color: #d8d8d8;
    padding:30px;
}

footer {
    position:static;
    bottom:0;
    width:100%;
}

body > footer > div.container > div > div.col-4.contato > img{
    margin-left: 140px!important;
}
.toggle{
    padding : 10px;
    font-size: 30px;
    color: #333333;
}
.paisesMenu{
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.paisesMenu i{ padding-left: 30px;}
.toggle:hover{
    text-decoration: none;
    color: black;
}
.menuButton{border-right: 1px solid #333333;}
.menuButton small{font-weight: bold;}
span{color: #54c5d0}

/* DEVICE RESPONSIVO */
@media screen and (min-width: 350px){
    .navbar-right{float: left;}
    .img{display: none;}
    
    .menu-responsivo{
        position: fixed;
        left    : 0;
        top     : 0;
        height  : 100%;
        display : none;
    }
    
    .menu-responsivo a{color: white;}

    ul{
        padding: 0;
        list-style: none;
        margin: 0;
    }
    ul li{
        padding-top: 10px;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    li a:hover{text-decoration: none;}
    .redes_sociais{display: none;}
    
    .divMenu{
        width: 100%;
        background: #54c5d0;
    }
    

    .redes{padding-left: 15px;} 
    .redes a{font-size: 40px;}
    .logo{
        width: 100%;
        margin-top: 50px; 
        height: 200px;
        background: #333333;
        border-radius: 0 2% 85% 0%  / 30%;
        box-shadow:0px 11px 26px white;
        background-image: url('../media/img/logo-petro.png');
        background-repeat: no-repeat;
        background-position: center; 
    }
    .rodape{display: none;}
    
    .ativo{
        transition: 0.2s;
        padding-left:  185px;    
    }

    .frase{
        position:absolute;
        border-radius: 10px;
        padding:  20px;
        z-index: 9999;
        bottom: 0;
        margin: 0 20%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
    }
}
@media screen and (min-width: 990px){
    .rodape{display: block!important;}
    .navbar-right{
        float: right;
        left: 0px;
    }
    .divMenu{display: none;}
    .redes_sociais{display: block;}
    .menu-responsivo{
        z-index: 9999;
        position: absolute;
        display: block!important;
        margin-top:30px;
        height: 56px;
        width: 100%;
        padding-right: 25%;
    }
    .menu-responsivo li{
        padding: 0;
        float: right;
        padding: 15px;
        border: none;
    }
    .menu-responsivo li:hover{border-bottom: 3px solid #54c5d0;}
    .redes{display: none;} 
    .frase{
        position:absolute;
        border-radius: 10px;
        padding:  20px;
        z-index: 9999;
        bottom: 0;
        margin: 0 30%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
    }
}
@media screen and (min-width: 1240px){
    .frase{
        position:absolute;
        border-radius: 10px;
        padding:  20px;
        z-index: 9999;
        bottom: 0;
        margin: 0  60% 0 20%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
    }
}

@media screen and (min-width: 1580px){
    .img{
        position: absolute;
        z-index: 9999;
        margin-left: 10%;
        display: block!important;
    }
    .menu-responsivo{
        display: none!important;
    }
    .ativo{
        transition: 0.1s;
        padding-left:  0px!important;    
    }
}